.nav {
    width: 100vw;
    height: 6vh;
    background-color: aqua;
}

.button {
    margin-top: 10px;
}

.main {
    justify-content: space-evenly;
}

.container {
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    justify-content: space-evenly;
}

.card {
    margin:10px;
}